openapi: 3.0.1
info:
  title: OpenAPI definition
  version: v0
servers:
- url: http://localhost:8080
  description: Generated server url
tags:
- name: Orders
  description: 주문/결제 API (포인트 + 쿠폰)
- name: Coupon
  description: 선착순 쿠폰 발급 API
paths:
  /api/orders:
    post:
      tags:
      - Orders
      summary: 주문 생성(PENDING)
      description: "쿠폰은 정보로만 저장, 실제 차감은 결제 단계에서 적용"
      operationId: create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderCreateRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderCreateResponse"
  /api/orders/{orderId}/payment:
    post:
      tags:
      - Orders
      summary: 결제 처리(포인트 + 쿠폰)
      description: 쿠폰 유효성 확인 → 할인 → 포인트 차감 → 재고 차감 → 주문 PAID
      operationId: pay
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResponse"
  /api/coupon/{couponId}/issue:
    patch:
      tags:
      - Coupon
      summary: 선착순 쿠폰 발급
      description: 잔여 수량 내에서만 발급.
      operationId: issueCoupon
      parameters:
      - name: couponId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CouponIssueRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/CouponIssueResponse"
components:
  schemas:
    Item:
      required:
      - productId
      type: object
      properties:
        productId:
          type: string
          description: 상품 ID
          example: P001
        quantity:
          minimum: 1
          type: integer
          description: 수량
          format: int32
          example: 2
      description: 주문 품목
    OrderCreateRequest:
      required:
      - items
      - userId
      type: object
      properties:
        userId:
          type: string
          description: 유저 ID
          example: sujin01
        items:
          type: array
          description: 주문 품목
          items:
            $ref: "#/components/schemas/Item"
        couponId:
          type: string
          description: 쿠폰 ID(선택)
          example: F-2025Sale
      description: 주문 생성 요청
    LineItem:
      type: object
      properties:
        productId:
          type: string
        name:
          type: string
        quantity:
          type: integer
          format: int32
        unit_price:
          type: integer
          format: int64
        subtotal:
          type: integer
          format: int64
      description: 주문 품목
    OrderCreateResponse:
      type: object
      properties:
        orderId:
          type: string
          description: 주문 ID
          example: O-1719999999999
        items:
          type: array
          description: 주문 품목
          items:
            $ref: "#/components/schemas/LineItem"
        subtotalAmount:
          type: integer
          description: 상품합계
          format: int64
          example: 1010000
        discountPreview:
          type: integer
          description: 쿠폰 예상 할인금액(정보용)
          format: int64
          example: 100000
        totalAmount:
          type: integer
          description: 결제 예정 금액
          format: int64
          example: 910000
        status:
          type: string
          description: 상태
          example: PENDING
      description: 주문 생성 응답(PENDING)
    PaymentRequest:
      required:
      - userId
      type: object
      properties:
        userId:
          type: string
          description: 유저 ID
          example: sujin01
      description: 결제 요청(포인트 + 쿠폰)
    PaymentResponse:
      type: object
      properties:
        orderId:
          type: string
          description: 주문 ID
          example: O-1719999999999
        paidAmount:
          type: integer
          description: 결제 금액(차감된 포인트)
          format: int64
          example: 910000
        remainingBalance:
          type: integer
          description: 남은 포인트
          format: int64
          example: 90000
        status:
          type: string
          description: 상태
          example: SUCCESS
        dataTransmission:
          type: string
          description: 외부 전송(목킹)
          example: QUEUED
      description: 결제 응답
    CouponIssueRequest:
      type: object
      properties:
        userId:
          type: object
          description: 사용자 ID
          example: sujin
      description: 쿠폰 발급 요청
    CouponIssueResponse:
      type: object
      properties:
        userCouponId:
          type: string
          description: 쿠폰 ID
          example: UC-20251030
        coupon_name:
          type: object
          description: 쿠폰명
          example: 가을할인프로모션
        discount_rate:
          type: integer
          description: 할인
          format: int32
          example: 10
        type:
          type: string
          description: 할인타입
          example: PERCENT
        expiresAt:
          type: string
          description: 만료일시
          example: 2025-12-31T23:59:59Z
        remainingQuantity:
          type: integer
          description: 남은 수량
          format: int32
          example: 95
      description: 쿠폰 발급 응답
